.site-footer {
    background-color: aliceblue;
    width: 100%;
    height: auto;
    padding: 1em 1em;
    text-align: center;
}

.footer-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .footer-container{
        flex: 1;
        text-align: center;

       h4 {
            margin: 0 auto;
            padding: 1em 0;
       }

       ul {
            margin: 0;
            padding: 0;
       }

       li, a {
        list-style-type: none;
        text-decoration: none;
        line-height: 2em;
        }
    }
    
    .author-info {
        p {
            padding: 30px 0;
        }
    }
    
}

@media screen and (max-width: 37.5em) {
    .footer-column {
        flex-direction: column;

        .footer-container {
            padding-bottom: 1.5em;
        }
    }
}