* {
	scroll-behavior: smooth;
}

.site-header {
	height: 60px;
    width: 100%;
	display: flex;
    position: sticky;
    //top: 0;
	padding-top: 0.75em;
    z-index: 1;
	background-color: #F2A7A7;
	.site-branding{
		float: left;
		margin: 0px 15px;
		height:50px;
		width:50px;
	}
}

.main-navigation {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		padding: 20px;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: block;
		//position: relative;
		margin: 0 10px;
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	display: block;
	padding: 16px 16px 18px 16px;
	position: absolute;
	right: 2px;
	margin-top: -10px;
	background-color: white;
	border: none;
	border-radius: 0;
}

.main-navigation.toggled {
	display: block;
	right: 0px;
	transform: translate3d(-1px, 0, 0);
  	transition: transform 0.35s;
	ul {
		width: 50%;
		display: block;
		position: absolute;
		height: 100vh;
		right: 0;
		margin: 48px 0 0 1px;
		background-color: white;
		text-align: center;
	
		li a {
			padding: 30px;
			// transform: translateY(100%);
			// transition: transform 2s ease-in;
		}
	}
}

.burger-menu {
	display: flex;
	font-weight: 800;
	font-size: 1.5rem;
	color: #40282C;
}


@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
